.wrapper {
  @apply fixed top-0 bottom-0 left-0 right-0 z-20 flex justify-center items-center;
}

.backdrop {
  @apply absolute w-full h-full bg-black opacity-20;
}

.container {
  @apply bg-white rounded-2xl flex flex-col space-y-2 p-2 drop-shadow-xl shadow-xl w-auto z-50;
  // @apply flex justify-center items-center z-50;

  &.center {
    @apply top-1/3;
  }

  &.bottom {
    @apply bottom-14;
  }
}

.top {
  @apply text-center relative h-9 flex justify-center items-center my-2;

  .title {
    @apply text-xl text-center font-bold text-gray-800;
  }

  .closeBtn {
    @apply absolute btn btn-sm bg-slate-200 border-0 text-gray-800 hover:bg-slate-400 hover:text-white btn-circle right-2;
    height: auto;
    width: auto;
  }
}
